{% extends "fbase.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
        #submit { float:inherit;}
    </style>

    <div class="main">

    <p>
     <form action="" method="post" >{% csrf_token %}
           <table>
                {{form.as_table }}
            </table>
            <input type="submit" value="Update" />
        </form>
    </p>
</div>

{% endblock %}
