{% extends "fbase.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
         #list { border: 1px solid #a6cccc; width: 500px; background: #f6f6f6; }
    </style>

    <div class="main">
    <h2>Friend List</h2>
        <div class="list">
            {% if friends %}
                {% for friend in friends %}
                    <img src="{{ friend.profile.avatar }}" alt="No Profile picture" height="100" width="100"/> <br />
                    <li><a href="{% url 'forum:viewprofile' friend.pk %}">{{ friend }}</a></li>
                {% endfor %}
         </div>
    {% else %}
        
        <center><p>No friends found.</p></center>
    {% endif %}
    </div>
{% endblock %}
