{% extends "fbase.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .pagination { margin-top: 20px; margin-left: -20px; }
        .main { margin-left: 25px; margin-top: 30px; width: 700px; }
        .title { font-size: 1.4em; margin-top: 10px; padding-left: 0px; }
        .title a { text-decoration: none; }
        .button { background: #999; color: white; padding: 6px; text-decoration: none; float: right; }
        .date { font-size: 0.8em; padding-left: 5px; }
        .ppic { float: right;margin: 8px; padding: 8px; margin-bottom: 14px; background: white; }
        .clear { clear: both; }
        #reply { margin-top: 10px; width: 500px; }

        .post {
            margin: 8px; padding: 8px; border: 1px solid #ccc; margin-bottom: 14px; background: white;
            }
        .ttitle {
            font-style: bold; font-size: 1.6em; border-bottom: 1px solid #ccc; margin-bottom: 9px;
            padding-left: 10px; width: 700px;
        }

        #list { border: 1.2px solid #a6cccc; width: 700px; background: #a6a6a6; }
        #back { margin: 5px; }
    </style>

    <div class="main">
<!-- Title and backlink -->
        <div class="ttitle">{{ topic.title }}</div>
        <div id="back">
            <a href="{% url 'forum:forum' topic.forum.pk %}">&lt;&lt; back to list of topics</a>
        </div>
        <div id="list">

            <!-- Posts  -->
            {% for post in post_list %}
                <div class="post">
                    <!-- Profile pic and info -->
                    <div class="ppic">
                        {% with post.profileData as pdata %}
                        <img src="{{ pdata.1 }}" alt="No Profile picture" height="100" width="100"/> <br />
                        {% if user.is_authenticated %}
                            crator: <a href="{% url 'forum:viewprofile' post.creator.pk %}">{{ post.creator }} <br /> </a> 
                            {%ifnotequal post.creator.pk user.pk %}
                                <a href="{% url 'forum:like' post.pk %}" target="_self" ><img src="http://s21.postimg.org/de438y3qf/thumbnail.jpg" height="25" width="25" border="0"/></a><br />{% endifnotequal %}{% endif %}
                        scores:{{ post.creator.profile.scores}}<br />
                        Posts: {{ pdata.0 }}<br />
                        {% endwith %}
                    </div>
                    <!-- Title, author and body -->
                    <span class="title">{{ post.title }}</span><br />
                    by {{ post.creator }} | <span class="date">{{ post.date }}</span> <br /><br />
                    {{ post.body|linebreaksbr }} <br />
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
        <!-- Paginator and reply link -->
        {% include "pagination.html" %}
        <br />
        <a class="button" href="{% url 'forum:reply' topic.pk %}">Reply</a>
    </div>


{% endblock %}
