{% extends "fbase.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .clear { clear: both; }
        .button { background: #a6a6a6; color: white; padding: 4px; text-decoration: none; float: right; }
        .date { font-size: 0.6em; padding-left: 5px; }
        .ppic { float: right;margin: 8px; padding: 8px; margin-bottom: 14px;margin-top: 14px; background: white; }
        #list { border: 1px solid #a6cccc; width: 500px; background: #a6a6a6; }
        .detail {
            margin: 2px;
            padding: 2px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            background: white;
            width:200px;
        }
        .title {
            margin: 2px;
            padding: 2px;
            background: #a6cccc;
            width:200px;

        }
           .wallpost {
            margin: 8px; padding: 8px; border: 1px solid #a6a6a6; margin-bottom: 14px; background: white;
            }
        .main { margin-left: 25px; margin-top: 30px; width: 300px; }
    </style>
<div class="main">
    <table width="100%"  border="0">
    <tr valign="top">
        <td style="background-color:#a6a6a6;
                    width:100px;text-align:top;">
        <center>
                    <div class="ppic"><img src="{{ userprofile.avatar }}"  alt="No Profile picture" height="200" width="200"/><br /></div>
            <br />
                    <div class="title">Name:</div>
                    <div class="detail"> {{ userprofile.name}}<br /></div>
                    <div class="title">Country:</div>
                    <div class="detail"> {{ userprofile.country}}<br /></div>
                    <div class="title">Email Address:</div>
                    <div class="detail">{{ userprofile.user.email }}<br /></div>
                    <div class="title">Posts:</div>
                    <div class="detail">{{ userprofile.posts }}<br /></div>
                    <div class="title">Scores:</div>
                    <div class="detail">{{ userprofile.scores }}<br /></div>
                    <div class="title">Status:</div>
                    <div class="detail">{{ userprofile.status |linebreaksbr }}<br /></div>
                    <div class="title">Last Login:</div>
                    <div class="detail">{{ userprofile.user.last_login|date:"M d Y" }}<br /></div>
                    <div class="title">Joined: </div>
                    <div class="detail">{{ userprofile.user.date_joined|date:"M d Y" }}<br /></div>
                    <div class="title">Personal Details:</div>
                    <div class="detail">{{ userprofile.personalDetails|linebreaksbr }}<br /></div>
                    {%ifnotequal userprofile.user.pk user.pk %}
                        {%if user.friendSet.all %}
                            {%for friendship in user.friendSet.all%}
                                {%ifequal userprofile.user.pk friendship.toFriend.pk%}
                                    {%if friendship.submitted%}
                                        <a href="{% url 'forum:friendlist' userprofile.user.pk %}"><div class="title">{{userprofile.user}}'s friends list</div></a>
                                        <a href="{% url 'forum:removefriend' userprofile.user.pk %}"><div class="title">Remove {{userprofile.user}} From Friend List </div></a>
                                    {%else%}
                                        <a href="{% url 'forum:addfriend' userprofile.user.pk %}"><div class="title">Add {{userprofile.user}} As A Friend </div></a>{%endif%}
                                {%endifequal%}
                            {%endfor%}
                        {%else%}
                            <a href="{% url 'forum:addfriend' userprofile.user.pk %}"><div class="title">Add {{userprofile.user}} As A Friend </div></a>{%endif%}
                    {% endifnotequal %}

                    </center>
        </td>
        <td style="background-color:#a6a6a6;height:100px;
                  width:200px;text-align:top;">
        {%for friendship in user.friendSet.all%}
            {%ifequal userprofile.user.pk friendship.toFriend.pk %}
            <a id="new_wallpost" class="button" href="{% url 'forum:new_wallpost' userprofile.pk %}">Add A New wallpost</a>
            {%endifequal%}
        {%endfor%}
        {%ifequal userprofile.user.pk user.pk %}
           <a id="A1" class="button" href="{% url 'forum:new_wallpost' userprofile.pk %}">Add A New Wallpost</a>
        {%endifequal%}
            <br />
        <div id="list">

            <!-- wallposts  -->
            {% for wallpost in wallpost_list %}
                <div class="wallpost">
                    <!-- Profile pic and info -->
                    <div class="ppic">
                        <center>
                        <img src="{{ wallpost.creator.profile.avatar }}" alt="No Profile picture" height="100" width="100"/> <br />
                        </center>
                        <a href="{% url 'forum:viewprofile' wallpost.creator.pk %}">{{ wallpost.creator }}<br /> </a>

                    </div>
                    <!--  author and body -->
                    by {{ wallpost.creator }} | <span class="date">{{ wallpost.date }}</span> <br /><br />
                    {{ wallpost.body|linebreaksbr }} <br />
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>
        </td>
    </tr>
    <tr>
    </table>
</div>
{% endblock %}
    
    
