{% extends "fbase.html" %}

{% block sidebar %} <style type="text/css"> </style> {% endblock %}

{% block content %}
    <style type="text/css">
        .main { margin-left: 25px; margin-top: 30px; }
        .last { border: 0px; }

        #wallpost { margin-top: 10px; width: 500px; }
        #body { width: 500px; height: 250px; font-size: 1.3em; }
        #submit { float: right; }
        #rtitle {
            background: #eee; font-size: 1.3em; padding: 3px; margin-top: 40px;
            padding-left: 20px; margin-bottom: -10px;
        }
    </style>

    <div class="main">
        <div id="wallpost">
        <form action="" method="POST"> {% csrf_token %}
            <table>
                {{ modelform.as_table }}
            </table>
            <input type="submit" value="Submit" />
        </form>
        </div>
    </div>

{% endblock %}
