<style>
    body 
        {
        background-image:url('http://s29.postimg.org/ckbodf7tj/bg2.jpg');
        }
     * {
            font-family:"Comic Sans MS", cursive, sans-serif;
            color: #555;
            font-size: 1.3em;
            word-wrap:break-word;
        }
 </style> 
<html>
    <head>
        <title>Activation complete</title>
    </head>
    <body>
        <center><h4>Thanks! Your account has be activated. </h4><h4>Please <a href="{% url 'auth_login' %}?next={% url 'forum:main' %}">login to continue</a></h4></center>
    </body>
</html>
