{% extends "registration\base.html" %}
{% load i18n %}

<style>
* {
            font-family:"Comic Sans MS", cursive, sans-serif;
            color: #555;
            font-size: 1.2em;
            word-wrap:break-word;
        }
</style>

{% block title %}{{ title }} | {% trans 'PyCommunity Login' %}{% endblock %}
 <div id="branding">
        {% block branding %}<h1 style="color:#555;Background:white;text-align:center">'PyCommunity Log In'</h1>{% endblock %}
 {% block nav-global %}{% endblock %}
