
<html>
    <head>
        <title>Register</title>
        <style type="text/css">
            th {
                padding-top:10px;
                text-align: right;
                padding-right: 10 px;
                font-family:"Comic Sans MS", cursive, sans-serif;
            }
             body 
            {
            background-image:url('http://s29.postimg.org/ckbodf7tj/bg2.jpg');
            }
        </style>

    </head>
    <body>
        <center>
        <font face="Comic sans MS" size="10">Register</</font>
        <form action="/accounts/register/" method="POST">{% csrf_token %}
            <table>
            {{ form.as_table }}
            </table>
        <p>
            <input style="margin-left: 320px;" type="submit" value="Submit" />
        </p>
        </form>
        </center>
    </body>
</html>
